<h1 mat-dialog-title class="mb-5 justify-center text-center">O Pokemon foi capturado</h1>
<div class="mx-10 my-10  max-w-sm  grid justify-center">
  <img src="/assets/professor.png" class="w-50 text-center" alt="">
</div>
<p class="font-bold">O pokemon está sendo enviado para o professor.</p>
<div class="mt-5 justify-center text-center">
  <button type="button" mat-dialog-close
    class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md focus:shadow-lg focus:outline-none focus:ring-0  active:shadow-lg transition duration-150 ease-in-out">
    Fechar
  </button>
</div>